.article-image {
    width: 100%;
    padding: 0 !important;
}

.article-image-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.article {
    cursor: pointer;
    max-width: 470px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: left !important;
    background-color: black;
    margin-top: 50px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    box-shadow: 5px 5px 40px -10px black;
}

.article-title,
.article-description {
    text-align: left !important;
}

.article-title {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
}

.article-description {
    background-color: white;
    padding: 15px;
    color: black;
    text-align: justify;
}

.article-footer {
    font-style: italic;
    color: #B0B0B0;
    font-size: 11px;
    background-color: white;
    display: flex !important;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-top: -1px !important;
    padding-left: 10px;
    padding-right: 10px;
}

.article-date {
    text-align: left;
}

.article-source {
    text-align: right;
}